.check-card{
  display: flex;
  height: 50px;
  background: url("https://images.unsplash.com/photo-1477058267562-6f70f44288a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  .title{
    display: block;
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: white;
    border: 1px solid black;
    &:hover{
      color: yellow;
  }
}
  .active{
    color: yellow;
}
}
